.card-container {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 20px 24px;
  }
  .client-card {
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--svg);
    border-radius: 4px;
  }
  .card-paragraf {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
  .portfolio-list-item:hover .card-overlay{
    transform: translateY(0);
  }
  .portfolio-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    text-align: left;
  }
  .portfolio-list-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .image-overlay{
    position: relative;
    overflow: hidden;
  }
  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--simple-white);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .image {
    display: block;
    margin: 0;
  
  }
  .team-container {
    background-color: var(--btn-bg-clr);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .item-container {
    padding: 30px;
    text-align: center;
  }
  .team-paragraf {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .thumb {
    position: relative;
  }
  .thumb > .label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    line-height: 1.14;
    color: #FFFFFF;
  }
  
  .box-shadow{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}