.examples-list-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .reg-client-icon {
    fill: currentColor;
    margin: 16px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 106px;
    height: 60px;
  }
  .icon {
    width: 270px;
    height: 120px;
    background-color: var(--btn-bg-clr);
    padding: 25px 102px;
    border-radius: 4px;
  }