.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: var(--simple-white);
    border-radius: 4px;
    line-height: 1.16;
    padding: 40px;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    font-size: 12px;
  
  }
  
  
  
  
  .modal-form,
  .modal-form-fields,
  .modal-form-field {
    display: flex;
    flex-direction: column;
  }
  .modal-form {
    width: 528px;
    height: 581px;
  }
  
  .modal-form-fields {
    margin-bottom: 20px;
    text-align: left;
  }
  .modal-form-field:not(:last-child) {
    margin-bottom: 10px;
  }
  .modal-form-field label {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .form-field,
  .modal-form-field textarea {
    padding-left: 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    margin: 0;
    padding: 3px;
  
    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-field {
    position: relative;
    
  &:focus-within .form-field,
  &:hover .form-field,
  &:focus .form-field,
  &:focus-within textarea,
  &:hover textarea {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}
  .modal-form-field:focus-within > .form-icon,
  .modal-form-field:hover > .form-icon {
    fill: var(--accent-color);
  }
  
  .modal-form-field textarea {
    resize: none;
    height: 120px;
    font-size: 12px;
    padding: 12px 16px;
    
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  
  }}
  
  
  .checkbox {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .field-checkbox {
    appearance: none;
  }
  .field-checkbox:focus-within + .checkbox-icon {
    border: 2px solid var(--accent-color);
  }
  .field-label {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .field-label .link {
    color: var(--accent-color);
    text-decoration: underline;
  }
  .checkbox-icon {
    display: inline-block;
    margin-right: 8px;
    padding: 0;
    border: 2px solid var(--header-text-color);
    border-radius: 2px;
  }
  .field-checkbox:checked + .checkbox-icon {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
  }