.social-networks-list {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 206px;
    height: 44px;
  }
  .networks:nth-child(4) {
    margin-right: 0;
  }
  
  .networks {
    margin-right: 10px;
  }
  .social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--svg);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    fill: var(--simple-white);
    background-color: var(--accent-color);
  }}
  .social-networks-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--simple-white);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    fill: var(--simple-white);
    background-color: var(--accent-color);
}
  }
  
  .networks-icon {
    fill: currentColor;
    margin: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-networks:hover .networks-icon {
    fill: var(--simple-white);
  }
  
.footer-networks-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 0;
    color: var(--simple-white);
  }