html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  ul,
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  img {
    display: block;
  }
  .img {
    display: block;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    margin: 0;
  }
  .header-container,
  .main-nav,
  .nav-list,
  .contact-list {
    display: flex;
  }
  .visually-hidden {
    color: var(--simple-white);
  }
  .header {
    border-bottom: 1px solid #ececec;
  }







