:root {
    --main-text-color: #757575;
    --header-text-color: #212121;
    --logo-text-color: #000000;
    --accent-color: #2196f3;
    --dark-background-text-color: rgba(255, 255, 255, 0.6);
    --simple-white: #ffffff;
    --footer-bg-clr: #2f303a;
    --btn-bg-clr: #f5f4fa;
    --svg: #afb1b8;
    --modal-bg:  rgba(0, 0, 0, 0.2);
    --close-border: 1px solid rgba(0, 0, 0, 0.1);
    --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --modal-btn:  #188CE8;
    
  }