
.examples-list {
    list-style: none;
    display: flex;
    
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;   
    
}

.examples-paragraf{
  text-align: left;
}
  .examples-list > .examples-list-item {
   
    
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    @media screen and (min-width: 768px){
    flex-basis: calc(100% / 2 - 30px);
    text-align: left;
  }
    @media screen and (min-width: 1230px){
      flex-basis: calc(100% / 4 - 30px);
      text-align: left;
    }

    
  
  
  background: var(--simple-white);
  
  
}
// .examples-list-portfolio {
//   display: flex;
//   padding: 0;
//   list-style: none;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }
.examples-list-portfolio {
  list-style: none;
  display: flex;
  
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;   
  
}
.examples-list-portfolio > .portfolio-list-item{
   
  list-style: none;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (min-width: 768px){
  flex-basis: calc(100% / 2 - 30px);
  text-align: left;
}
  @media screen and (min-width: 1230px){
    flex-basis: calc(100% / 3 - 30px);
    text-align: left;
  }}

  



