.footer {
    background-color: var(--footer-bg-clr);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-form-container {
    margin-top: 60px;
    @media screen and (min-width: 768px){
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      text-align: center;
      
  }
  @media screen and (min-width: 1230px){
    margin-left: 93px;
    
    
  }
  }
  .footer-form {
    margin: 0 auto;
    display: block;
    width: 100%;
    align-items: center;
    @media screen and (min-width: 768px){
      margin-left: auto;
      margin-right: auto;
      @media screen and (min-width: 1230px){

        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-top: 0;
      
  }
  .footer-form-input{
    width: 100%;
  }
  .footer-form-label-text {
    @media screen and (min-width: 768px){
      text-align: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      
  }
  @media screen and (min-width: 480px){
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    
}}
  }
  }
  .footer-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
  }
  @media screen and (min-width: 1230px){
    flex-wrap: nowrap;
  display: flex;
  align-items: baseline;
}}
  
  .contact-list-footer {
    display: block;
    list-style: none;
  }
  
  .contact-link-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--dark-background-text-color);
    text-decoration: none;
    display: block;

  &:hover, &:focus {
    color: var(--accent-color);
  }
}
   