.team-list {
  list-style: none;
  
  
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
    
  }
  .team-item {
    margin-left: auto;
    margin-right: auto;
  }
  .team-list > .team-item {
    
    align-items: center;
    text-align: center;
    @media screen and (min-width: 768px){
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
    margin-top: 30px;
      align-items: center;
    }
      @media screen and (min-width: 1230px){
        flex-basis: calc(100% / 4 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        align-items: center;
      }
    text-align: center;
    background: var(--simple-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .examples-list-item-workers {
    flex-basis: calc((100% - 4 * 30px) / 4);
    width: 270px;
    background: var(--simple-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
  }
  .grey-section {
    background-color: #F5F4FA;
  }